<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KhanaRasoiAdmin"
        tools:targetApi="31">
        <activity
            android:name=".Activity8_PendingOrders"
            android:exported="false" />
        <activity
            android:name=".Activity7_Admin_Profile"
            android:exported="false"
            android:parentActivityName=".Activity7_Admin_Profile" />
        <activity
            android:name=".Activity6_DeliveryDetails"
            android:exported="false"
            android:parentActivityName=".Activity3_OrderSummery" />
        <activity
            android:name=".Activity5_AllItems"
            android:exported="false"
            android:parentActivityName=".Activity3_OrderSummery" />
        <activity
            android:name=".Activity4_AddItem"
            android:exported="false"
            android:parentActivityName=".Activity3_OrderSummery" />
        <activity
            android:name=".Activity3_OrderSummery"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity2_SignUp"
            android:exported="false" />
        <activity
            android:name=".Activity0_SplashActivity"
            android:exported="true" />
        <activity
            android:name=".Activity1_Login"
            android:exported="false" />
    </application>

</manifest>